@(message: String)

@main(message) {

    <main class="main-top m-top p-0" >

    <div class="col-12 " style="min-height: 600px">
               <div class="container">
                   <div class="row">
                       <h3 style="text-align: center; color:#279CEB ;     "> HỢP ĐỒNG VTaxi</h3>
                             <ul style="font-size: smaller;   line-height: 3;  font-weight: 600; list-style-type: none;">
                                 <li style="margin-left: 5px; border-bottom: 1px solid #f1f1f1;   "> <span><a href="https://docs.google.com/document/d/1qAo-bDyl273NSgpIqzK7f4Z8yyeXoTDh/edit?usp=sharing&ouid=106701618316117730835&rtpof=true&sd=true" target="_blank">- HỢP ĐỒNG VỚI LÁI XE NVA- VTAXI TRẢ VAT </a> </span></li>
                                 <li style="margin-left: 5px; border-bottom: 1px solid #f1f1f1;   "> <span><a href="https://docs.google.com/document/d/1Lt0ruzGj8_ledZfSlRTrmD_GBviowhUS/edit?usp=sharing&ouid=106701618316117730835&rtpof=true&sd=true" target="_blank">- HỢP ĐỒNG VỚI LÁI XE NVB LÁI XE TỰ NỘP VAT</a> </span></li>
                                 <li style="margin-left: 5px; border-bottom: 1px solid #f1f1f1;   "> <span><a href="https://docs.google.com/document/d/10FSwPc04ctXspehSa8qF4lejQr04F97u/edit?usp=sharing&ouid=106701618316117730835&rtpof=true&sd=true" target="_blank">- HỢP ĐỒNG VỚI LÁI XE NVC - VTAXI NỘP THUẾ GTGT VÀ BHXH</a> </span></li>
                                 <li style="margin-left: 5px; border-bottom: 1px solid #f1f1f1;   "> <span><a href="https://docs.google.com/document/d/1zv9mofa2I3nolbNREJWmmAc8ewKkhPs_/edit?usp=sharing&ouid=106701618316117730835&rtpof=true&sd=true" target="_blank">- HỢP ĐỒNG VỚI DOANH NGHIỆP VẬN TẢI - VTAXI KÝ VỚI CÔNG TY TAXI</a> </span></li>

                              @*   <li style="margin-left: 5px; border-bottom: 1px solid #f1f1f1;   "> <span><a href="https://vimass.vn/vmbank/services/media/viewFile?id=22110_hop_dong_hop_kinh_doanh_giua_cong_ty_va_hop_tac_xac_van_tai_Vtaxi.pdf" target="_blank">- HỢP ĐỒNG HỢP TÁC KINH DOANH GIỮA CÔNG TY VÀ HỢP TÁC XÃ VẬN TẢI VTAXI</a> </span></li>
                                 <li style="margin-left: 5px; border-bottom: 1px solid #f1f1f1;   "><span><a href="https://vimass.vn/vmbank/services/media/viewFile?id=221110_hop_dong-hop_tac_giua_hop_tac_xa_van_tai_va_hop_tac_xa_van_tai_VTaxi.pdf" target="_blank">- HỢP ĐỒNG HỢP TÁC KINH DOANH GIỮA HỢP TÁC XÃ VẬN TẢI VÀ HỢP TÁC XÃ VẬN TẢI VTAXI</a> </span></li>*@
                             </ul>
                   </div>
               </div>
    </div>


    </main>
    
}
